# ===================================================
# Backend Environment Sample
# ===================================================
PORT=8080
MONGODB_URI=mongodb://localhost:27017/Kan-ban-hang
TOKEN_SECRET_KEY=
FONTEND_URL=http://localhost:3000
ADMIN_URL=http://localhost:5173
BACKEND_URL=http://localhost:8080
EMAIL_USER=
EMAIL_PASS=
STRIPE_SECRET_KEY=
STRIPE_ENDPOINT_WEBHOOK_SECRET_KEY=
